# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ImGui
imgui.ini

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# IDE files
.idea
cmake-build-debug

# Microsoft Visual Studio
*.tlog
*.idb
*.pdb
*.suo
*.lib
*.user
*.log
*.cache
*.sdf
*.sbr
*.lastbuildstate
*.opensdf
*.bsc
*.unsuccessfulbuild
*.ilk
*.exp
*.rc
*.res
*.manifest
*.ipch
*.VC.db
*.opendb
/MSVC/Release
/MSVC/Debug
/MSVC/x64
*.vs

